<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liquormania"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.liquormania.TiposDeLicor"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.example.liquormania.marcas_licores" >
        </activity>
        <activity 
            android:name="com.example.liquormania.sub_de_marca" >
        </activity>
        <activity
            android:name="com.example.liquormania.receta" >
        </activity>
        <activity android:name=".Prefs" android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.example.liquormania.PREFS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
